
language: node_js
cache:
  directories:
  - node_modules
notifications:
  email: false
node_js:
- '8'
before_install:
- npm install -g npm@5.2.0
after_success: npx semantic-release

# Trigger a push build on master and greenkeeper branches + PRs build on every branches
# Avoid double build on PRs (See https://github.com/travis-ci/travis-ci/issues/1147)
branches:
  only:
    - master
    - /^greenkeeper.*$/
